<!DOCTYPE html>
<html>
  <head>
    <title>Refactoring MSM GUI 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: #F2E5D7;
        color: #3D2C2E;
      }
      body a {
        text-decoration: none;
        color: #886F68;
      }
      body hr {
        background-color: #639FAB;
      }
      body form {
        background-color: #886F68;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%= yield %>
  </body>
</html>
